<head>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
    .nav {
        margin-right: 5px;
        font-size: 13px;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand" href="#">
    <img src="/photos/logo.png" id="logo" width="240 " height="90" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contests">CONTESTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/problems/all">PROBLEM SET</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/rankings">RANKINGS</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/ide">IDE</a>
        </li>
        <% if (locals.user && locals.user.isAdmin === true) { %>
            <li class="nav-item">
        <a class="nav-link" href="/admin">ADMIN</a>
        </li>
            <% } %>
            <% if (locals.user) { %>
            <li class="nav-item">
        <a class="nav-link" href="/user/profile">PROFILE</a>
        </li>
            <li class="nav-item">
        <a class="nav-link" href="/user/logout">SIGN OUT</a>
        </li>    
            <% } else { %>
            <li class="nav-item">
        <a class="nav-link" href="/user/login">SIGN IN</a>
        </li>
            <li class="nav-item">
        <a class="nav-link" href="/user/signup">SIGN UP</a>
        </li>
            <% } %>
            <li class="nav-item">
        <a class="nav-link" href="/contribution">CONTRIBUTE</a>
        </li>
    </ul>
  </div>
</nav>
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<!--
<section class="topbar">
    <div class="flexbox">
        <div class="flexbox" style="padding-top: 25px">
            <div class="nav"><span><a href="/">HOME</a></span></div>
            <div class="nav"><span><a href="/contests">CONTESTS</a></span></div>
            <div class="nav"><span><a href="/problems/all">PROBLEM SET</a></span></div>
            <div class="nav"><span><a href="/rankings">RANKINGS</a></span></div>
            <div class="nav"><span><a href="/ide">IDE</a></span></div>
            <% if (locals.user && locals.user.isAdmin === true) { %>
            <div class="nav"><span><strong><a href="/admin" style="color: rgb(153, 0, 0);">ADMIN</a></strong></span></div>
            <% } %>
            <% if (locals.user) { %>
            <div class="nav"><span><a href="/user/profile">PROFILE</a></span></div>
            <div class="nav"><span><a href="/user/logout">SIGN OUT</a></span></div>
            <% } else { %>
            <div class="nav"><span><a href="/user/login">SIGN IN</a></span></div>
            <div class="nav"><span><a href="/user/signup">SIGN UP</a></span></div>
            <% } %>
            <div class="nav"><span><a href="/contribution">CONTRIBUTE</a></span></div>
        </div>
    </div>
</section>
<header>
    <h1 class="left">
        <a href= "/"><img src="/photos/logo.png" id="logo"></a>
    </h1>
</header>
-->
